body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ac9a84, #3a2008);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 100%; /* Genişliği %100 yaparak container'ın sığmasını sağlıyoruz */
    max-width: 400px; /* Maksimum genişlik 400px ile sınırlı */
    box-sizing: border-box; /* Kutuların kenarlarının hesaplanmasına dahil edilmesi için */
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #555;
    text-align: left;
    margin-bottom: 5px; 
}

input[type="text"],
input[type="number"],
button,
input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
    width: 100%; 
    box-sizing: border-box;
}

button {
    background: linear-gradient(135deg, #ac9a84, #3a2008); 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

button:hover {
    background: linear-gradient(135deg, #3a2008, #ac9a84);
}

input[type="file"] {
    display: none;
}

.file-upload-label {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.file-upload-label:hover {
    background-color: #f1f1f1;
}

#file-name {
    display: block;
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}
